<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="initial">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}" title="Home">
                {{ if .Site.Params.Initials }}
                <b style="font-weight: 800;">{{ .Site.Params.Initials }}</b>
                {{ else }}
                <b style="font-weight: 800;">{{ .Site.Params.Name }}</b>
                {{ end }}
            </a>
        </div>
        <div class="socials px-2">
            {{ range .Site.Params.Social }}
            <a class="footer-social px-1" {{ with .rel }} rel="{{ . }}" {{ end }} href="{{ .link }}" target="_blank"><i
                    class="{{ .icon }}"></i></a>
            {{ end }}
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            {{- $currentPage := . -}}
            {{ range .Site.Menus.main -}}
                <li class='nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
                    <a class="nav-link" href="{{ .URL }}"> {{ .Name }}</a>
                </li>
            {{ end }} 
            <li class="nav-item px-2">
                <a class="btn fas fa-moon" id="dark-mode-toggle" title="Toggle Dark Mode"></a>
            </li>
            </ul>
        </div>
    </div>
</nav>