<div class="col">
    <div class="card h-100 top-highlight">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title">{{ .Title }}</h5>
                </div>
            </div>
        </div>
        <div class="card-footer border-0">
            <div class="row">
                <div class="col">
                    <span class="card-date">{{ .Lastmod.Format "Jan 2, 2006" }} </span>
                </div>
                <div class="col card-right">
                    {{ partial "status.html" . }}
                </div>
            </div>
            <a href="{{ .Permalink }}" class="stretched-link"></a>
        </div>
    </div>   
</div>   